.jumbotron {
	display: flex;
	background-color: $white;
	width: fit-content;
	align-items: center;
	justify-content: space-between;
	width: 40%;
	.info {
		color: $purple;
		margin: 0.25rem 1rem;
	}
}

.heading-sub {
	color: $cream;
}

.options {
	color: $white;
	button {
		width: 200px;
	}
	.input-width {
		width: 10%;
	}
}
.allAvatars {
	width: 100%;
	color: $lightCream;
	table {
		color: $white;
	}
	th {
		color: $purple;
	}
	th,
	td {
		padding: 1rem 2rem;
	}
	.id {
		width: 10%;
	}
	.generation {
		width: 10%;
	}
	.gene-a {
		width: 10%;
	}
	.gene-b {
		width: 10%;
	}
	.avatar {
		width: 10%;
	}
}
